/.venv
/workspace/abstractions/__pycache__
/workspace/applications/__pycache__
/workspace/applications/protocols/__pycache__
/workspace/blueprints/__pycache__
/workspace/blueprints/attachments/endpoints/__pycache__